@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

#quad {
    background: gray;
    border: 3px solid rgb(0, 0, 0);
    width: 450px;
    height: 450px;
    margin: 0 auto;
    top: 50%;
    bottom: 50%;
    padding: 30px
}

input[type="text"] {
	height: 30px;
    font-size: 30px ;
    width: 200px;

}

#quad h3 {
    font-size: 20px;
    justify-content: center;
    display: flex;
}

#quad p {
    font-size: 30px;
    justify-content: center;
    display: flex;
}