@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');

body {
    background-color: rgb(247, 245, 103);
    display:flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

#quad {
    background: rgb(22, 20, 20);
    border: 3px solid rgb(22, 20, 20);
    width: 600px;
    height: 450px;
    padding: 30px;
    color: white;
}

#input-num{
    justify-content: center;
    display: grid;
    padding-top: 20px;
}

#operations{
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
	height: 40px;
    font-size: 30px ;
    width: 250px;
}

input[type="radio"] {
    width: 2.5rem;
    height: 2rem;
    
}

b {
    font-size: 1.8rem;
    padding: 0.2rem;
}

#quad h3 {
    font-size: 30px;
    justify-content: center;
    display: flex;
    font-weight: bold;
    
}

#quad p {
    font-size: 35px;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

#center-btn {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

#quad button {
    width: 250px;
    height: 50px;
    font-size: 25px;
}

@media (min-width: 481px) and (max-width: 767px) {
    #quad {
        width: 360px;
        height: 550px;
    }

    input[type="text"]{
        height: 55px;
    }

    #operations{
        flex-direction: row;
    }

    #quad p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    input[type="text"]{
        height: 70px;
    }
}
    
